/LutadorGit/nbproject/private/
/LutadorGit/build/
/LutadorGit/dist/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
*.properties
Exercicio09b/manifest.mf
Exercicio09b/src/projetoLivro/Exercicio09b.java
Exercicio09b/src/projetoLivro/pessoa.java
ProjetoLivro/build.xml
/ProjetoLivros/nbproject/private/
/Livros/nbproject/private/
/Livros/build/
/PIPG/nbproject/private/
/PIPG/build/
/ProjetoPessoas/nbproject/private/
/ProjetoPessoas/build/
/teste/nbproject/private/